.span3
  #affix
    .well.sidebar-nav

      %h3 Advanced
      %ul.nav.nav-list
        %li.nav-header Import Products
        %li= link_to "Upload Product CSV", upload_products_path
        / %li= link_to "Failture Upload", "/path2"
        / %li= link_to "Downlod Results",  "/path3"



